@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Barlow';
		src: local('Barlow'), url('/fonts/Barlow-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Roboto Mono';
		src: local('Roboto Mono'), url('/fonts/RobotoMono-VariableFont_wght.ttf');
		font-weight: normal;
		font-display: swap;
	}

	a {
		@apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
	}
}
